.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fffbea;
  font-family: sans-serif;
  text-align: center;
}

.admin-dashboard-container h1 {
  color: #b8860b;
  margin-bottom: 10px;
}

.admin-dashboard-container p {
  color: #444;
}
